header{
    background-color: #FFF;
    height:40px;
    border-bottom:1px solid #86a99f;
    position: fixed;
    width: 100%;
    top:0px;
    left:0px;
    z-index:1;
}

header .logo{
    width:40px;
    height:40px;
    /*border-right:1px solid #61a0a9;*/
    float:left;
    font-weight: bold;
}

.clear{
    clear:both;
}

UL{
    padding: 0px;
    margin-bottom: 0px;
}

UL LI{
    list-style: none;
}

.loading_box{
    width:100%;
    height:100%;
    position: fixed;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.80);
    top:0px;
    left:0px;
}

.loading_box>DIV{
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width:100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background-color: #4d4d4d;
    border-radius: 2px;
    color: #FFF;
}

header h1{
    width: 100px;
    padding-left:20px;
    line-height: 40px;
    margin: 0px;
    font-size:12px;
    float: left;
}

header nav{
    margin-left: 100px;
}
header nav UL{
    padding:0px;
}
header nav UL LI{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height:39px;
    line-height:39px;
    color: #47a698;
    font-size:13px;
    padding-left: 10px;
    padding-right: 10px;
    border-right:1px solid #f4f4f4;
}

header nav UL .selected{
    background-color:#47a698;
}

header nav UL .selected A{
    color:#fff;
}

.page_header{
    height:150px;
    background-color: #47a698;
}

.page_header h2{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: bold;
    color: #FFF;
}

.page_header .desc{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
    color: #e6fdff;
}

.side{
    margin-top:10px;
    color:#D5D5D5;
    width:100px;
    padding-left:0px;
    /*border-right: 1px solid #E5E5E5;*/
    float:left;
}
.side LI{
    font-size:14px;
    list-style: none;
    width:55px;
    height:55px;
    margin-left:5px;
    margin-top: 2px;
    border-left: 1px solid #FFF;
}

.side LI:HOVER{
    border-left: 1px solid #D5D5D5;
}

.side .active{
    border-left: 1px solid #47a698;
}

.side .active{
    color:#000;
}

.side A{
    color:#D5D5D5;
    text-decoration: none;
}

.side .active A{
    color:#000;
}

.side LI:HOVER A{
    color:#000;
}

.side LI SPAN{
    top:10px;
    height:20px;
    display: block;
    text-align: center;
}

.side LI:HOVER SPAN{
    color:#000;
}

.side LI A{
    margin-top:10px;
    display: block;
    text-align: center;
}


.page{
    width:100%;
    height:100%;
    overflow: scroll;
    z-index:-1;
    padding-top:40px;
}

.page-side-margin{
    padding-top:20px;
    margin-left:55px;
    height:100%;
    overflow: scroll;
}

.page-navi-padding{
    padding-top:70px;
}


/** RABBITS **/
.page .list_rabbit{
    margin:0px;
    padding:0px;
    list-style: none;
}
.page .list_rabbit li{
    margin-top:10px;
    padding:0px;
    display: block;
    height:60px;
}

.page .list_rabbit li .icon{
    background: #ededed;
    width:46px;
    height:46px;
    border-radius: 23px;
    text-align: center;
    line-height: 46px;
    color: #FFF;
    font-size:20px;
    float:left;
    border:1px solid #fff;
}

.page .list_rabbit li:HOVER .icon{
    border:1px solid #47a698;
}

.page .list_rabbit li>SPAN{
    color: #515151;
}

.page .list_rabbit li>.conts{
    margin-top: 4px;
    margin-left: 60px;
}

.page .list_rabbit li>.name{
    font-size:18px;
    color: #202020;
}

.page .form_box{

}

.page .form_submit{
    border-top: 1px solid #f5f5f5;
    padding-top:15px;
}

.page-navi{
    background-color: #fff;
    border-bottom: 1px solid #eee7e9;
    height:30px;
    width:100%;
    position: absolute;
    top:40px;
    left:0px;
}

.page-navi>UL{
    margin-left: 10px;
    height:30px;
    /*height:14px;*/
}

/*.page-navi>UL>.arrow{*/
    /*width:12px;*/
    /*height:100%;*/
/*}*/

.page-navi>UL>LI{
    display: inline-block;
    font-size:12px;
    line-height:30px;
    color: #1b1b1b;
}

.page-navi>UL>LI>A{
    color: #1b1b1b;
}
.page-side {
    width:140px;
    float:left;
    height:100%;
    border-right:1px solid #d5d5d5;
    overflow: scroll;
}

/** Reports **/
.page-side .calendar .dropdown BUTTON{
    border-radius: 0px;
    border:none;
}

.page-side .calendar .dropdown{
    float:left;
}

.page-side .calendar .dropdown .dropdown-menu{
    min-width: 10px;
}

.report-area{
    margin-left:140px;
    height:100%;
    overflow: scroll;
}

.report-list-box{
    margin-top:10px;
}

.report-list .report{
    font-size: 13px;
    padding-top:4px;
    padding-bottom:4px;
    cursor: pointer;
}

.report-list .report:HOVER{
    background-color: #f6f6f6;
}

.report-list .report .level{
    margin-left: 4px;
    border-width: 1px;
    border-style: solid;
    font-size:10px;
    line-height: 12px;
    padding-left:2px;
    padding-right:2px;
}

.report-list .report .DEBUG{
    border-color: #868686;
    color: #868686;
}

.report-list .report .time{
    font-style: italic;
    color: #868686;
    padding-left:8px;
}

.report-list .report .categoryName{
}


.report-list .report_active{
    font-weight: bold;
}

.report-list .empty{
    font-size:16px;
    text-align: center;
    magin-top:auto;
    magin-left:auto;
    magin-right:auto;
    magin-bottomt:auto;

    color: #dcdcdc;
}

.report-detail-popup{
    background-color: #f9f9f9;
    display: none;
    position: fixed;
    right:0px;
    top:0px;
    height:100%;
    overflow: scroll;
    padding-top:40px;
    border-left:1px solid #d5d5d5;
    padding-left:10px;
    padding-right:10px;
}

.report-detail-popup .report-tab{
    border-bottom:1px solid #dfdfdf;
    margin-bottom: 10px;
    height:30px;
}

.report-detail-popup .report-tab li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    border-right:1px solid #dcdcdc;
    width:110px;
    text-align: center;
    color: #9f9f9f;
    cursor: pointer;
    font-size:12px;
}

.report-detail-popup .report-tab .active{
    color: #222222;
}

.report-detail-popup .summary{

}

.report-detail-popup .summary .key{

}

.report-detail-popup .summary .val{

}

.report-detail-popup .locationInfo>TABLE{
    width:400px;
    font-size:12px;
}

.report-detail-popup .ThrowableInfo{
    position: relative;

}
.report-detail-popup .ThrowableInfo .graph{

}

.report-detail-popup .ThrowableInfo .graph .threadName{
    color: #aeaeae;
}

.report-detail-popup .ThrowableInfo .graph .threadName .value{
    color: #828282;
}

.report-detail-popup .ThrowableInfo .graph .arrow{
    margin-bottom:2px;
    color: #999999;
}

.report-detail-popup .ThrowableInfo .graph .exception{
    background-color: #cc4146;
    padding:8px;
    color: #fafafa;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:0px;
    display: inline-block;
    clear:both;
}


.report-detail-popup .ThrowableInfo .graph .class{
    background-color: #47A698;
    color:#fff;
    margin-top:2px;
    margin-bottom:2px;
    padding:8px;
    display: inline-block;
}

.report-detail-popup .ThrowableInfo .graph .method{
    background-color: #C8FFF8;
    padding:2px;
    color: #17993A;
    margin-top:4px;
    margin-bottom:2px;
    margin-left:10px;
    padding-left:4px;
    padding-right:4px;
    display: inline-block;
    clear:both;
}

.report-detail-popup .ThrowableInfo .graph .base-package{
    display: inline-block;
    border:1px solid #bfbfbf;
    background-color: #FFF;
    color:#979797;
}

.report-detail-popup .ThrowableInfo .graph .base-package-arrow{
    padding:2px;
    display: block;
    color: #b9b9b9;
}

.report-detail-popup .ThrowableInfo .graph .base-package .method{
    background-color: #e0e0e0;
    color: #616161;
}

.report-detail-popup .ThrowableInfo .graph .method .lineNumber{
    font-size:10px;
}

.report-detail-popup .ThrowableInfo .graph .fileName{
    font-size:11px;
    color: #878787;
    background-color: #f9f9f9;
    display: block;
}
.report-detail-popup .ThrowableInfo .graph .base-package-fileName{
    font-size:11px;
    color: #878787;
    background-color: #f9f9f9;
    display: block;
}

.report-detail-popup .ThrowableInfo .graph .base-package-toggle{
    margin-top:10px;
    margin-bottom:10px;
    background-color: #f9f9f9;
    color:#adadad;
}

.report-detail-popup .ThrowableInfo .text{
    display: none;
}

.report-detail-popup .ThrowableInfo .text li{
    font-size:12px;
}

.report-detail-popup .close{
    position: absolute;
    font-size:12px;
    top:0px;
    height:30px;
    line-height:30px;
    right:0px;
}

.report-detail-popup .close SPAN{
    line-height: 30px;
}

#report-calendar{
    list-style: none;
    padding-left: 0px;
}

#report-calendar LI{
    /*height:24px;*/
    font-size:13px;
    border-bottom: 1px solid #ececec;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:2px;
    padding-bottom:2px;
    cursor: pointer;
}

#report-calendar LI .badge{
    float:right;
}

#report-calendar LI:HOVER{
    background-color: #ececec;
}

#report-calendar LI:ACTIVE{
    background-color: #47A698;
    color:#FFF;
}

#report-calendar .active{
    color:#47A698;
    background-color: #ececec;
}

.calendar .empty{
    font-size:16px;
    text-align: center;
    padding-top: 20px;
    color: #dcdcdc;
}

#report-feed{
    margin: 10px;
    display: none;
}

.rabbit-form{
    width:400px;
}

/** login **/
.login{

}

.login>*{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
