/**
 * ErRabbit Web Console
 * soleaf, mintcode.org
 * https://github.com/soleaf/ErRabbit
 * analysis.js
 */
.analysis #groupby_selected LI{
    padding-right:5px;
    cursor: pointer;
}

.analysis #groupby_selected LI SPAN{
    float:right;
    cursor: pointer;
}

.analysis .result{
    margin-left:200px;
}

.analysis .result > *{
    margin-left:20px;
}

.analysis .result TABLE{
    width:auto;
}

.analysis .result .alert{
    display: inline-block;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}
