/**
 * ErRabbit Web Console
 * soleaf, mintcode.org
 * https://github.com/soleaf/ErRabbit
 * common.css
 */

/*
Override global tag
*/
header{
    background-color: #f4f4f4;
    height:40px;
    border-bottom:1px solid #ececec;
    position: fixed;
    width: 100%;
    top:0px;
    left:0px;
    z-index:1;
}
header .logo{
    width:40px;
    height:40px;
    /*border-right:1px solid #61a0a9;*/
    float:left;
    font-weight: bold;
}
.clear{
    clear:both;
}
UL{
    padding: 0px;
    margin-bottom: 0px;
}
UL LI{
    list-style: none;
}
a {
    color: #2e9596;
}


/* bootstrap override */
.modal-dialog{
    z-index:999999;
}
.btn{
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    /*color: #666666;*/
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default{
    color: #9a9a9a;
    border-color: #c0c0c0;
    background-color: #fbfbfb;
}
.btn-gray{
    background-color: #F4F4F4;
}
.btn-primary{
    border: 1px solid #7BCCD4;
    color :#7BCCD4;
    background-color: #FFF;
}
.btn-primary:HOVER {
    color: #FFF;
    background-color: #70b9c1;
    border: 1px solid #7BCCD4;
}
.btn-primary:active {
    color: #FFF;
    background-color: #5d9aa1;
    border: 1px solid #5d9aa1;
}
.panel-primary{
    border-color: #7BCCD4;
}
.panel-primary>.panel-heading{
    background-color: #7BCCD4;
    border-bottom-color: #7BCCD4;
}
.btn-page-navi {
    height: 25px;
    padding:0px;
    border-top:none;
    border-bottom:none;
    padding-left:10px;
    padding-right:10px;
    background-color: transparent;
}
INPUT::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #D5D5D5 !important;
}
INPUT:-moz-placeholder { /* Firefox 18- */
    color: #D5D5D5 !important;
}
INPUT::-moz-placeholder { /* Firefox 19+ */
    color: #D5D5D5 !important;
}
INPUT:-ms-input-placeholder { /* IE 10+ */
    color: #D5D5D5 !important;
}
INPUT::-ms-input-placeholder { /* Edge */
    color: #D5D5D5 !important;
}
INPUT:placeholder-shown { /* Standard one last! */
    color: #D5D5D5 !important;
}
/*
    Util
*/
.no-padding{
    padding:0px;

}
.no-margin{
    margin:0px;

}

/*
    Loading
*/
.loading_box{
    display:none;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 999999;
    top:0px;
    left:0px;
}
.jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}
.jumper > div {
    background-color: #5CD0D6;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}
.jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}
.jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}
@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
    Form design
*/
.main-form{
    margin-bottom: 10px;

}
.main-form>.control-label{
    color:#7BCCD4;
    font-weight: bold;
}
.sub-form {
    padding-left:20px;
}

.sub-form .sub-form-item .control-label{
    color: #5d5d5d;
}
.form_submit {
    border-top: 1px solid #f5f5f5;
    padding-top: 15px;
}
.form_submit .right{
    float:right;
}
/*
    Header
*/
header h1{
    width: 100px;
    padding-left:20px;
    line-height: 40px;
    margin: 0px;
    font-size:12px;
    float: left;
    color:#7BCCD4;
    background: url("/img/logo_top.png") no-repeat center center;
    text-indent:-999999px;
}
header nav{
    margin-left: 100px;
}
header nav UL{
    padding:0px;
}
header nav UL LI{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height:39px;
    line-height:39px;
    color: #939393;
    font-size:13px;
    padding-left: 15px;
    padding-right: 15px;
    /*border-right:1px solid #f4f4f4;*/
    float:left;
}
header nav UL .active{
    background-color: #ebebeb;
    /*color:#fff;*/
}
header nav UL .active A{
    /*color:#fff;*/
}
header nav A{
    color:#939393;
}
header nav A:HOVER{
    color:#7BCCD4;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
header .logout{
    float:right;
    height:39px;
    line-height:39px;
    margin-right:10px;
    font-size:12px;
    padding-left:10px;
    border-left:1px solid #d3d3d3;
}
.page_header{
    height:150px;
    background-color: #7BCCD4;
}
.page_header h2{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: bold;
    color: #FFF;
}
.page_header .desc{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
    color: #e6fdff;
}

/*
    Side bar
*/
.side{
    margin-top:10px;
    color:#D5D5D5;
    width:100px;
    padding-left:0px;
    /*border-right: 1px solid #E5E5E5;*/
    float:left;
}
.side LI{
    font-size:14px;
    list-style: none;
    width:100%;
    height:55px;
    margin-top: 2px;
    border-left: 2px solid #FFF;
}
.side .active{
    color:#000;
    border-left: 2px solid #7BCCD4;
}
.side A{
    color:#D5D5D5;
    text-decoration: none;
    font-size:12px;
}
.side .active A{
    color:#000;
}
.side LI:HOVER A{
    color:#000;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.side LI SPAN{
    top:10px;
    height:20px;
    display: block;
    text-align: center;
}
.side LI:HOVER SPAN{
    color:#000;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.side LI A{
    margin-top:10px;
    display: block;
    text-align: center;
}

.page-side {
    width:140px;
    float:left;
    height:100%;
    border-right:1px solid #f0f0f0;
    overflow: scroll;
}
.page-side-wide {
    width:200px;
}
.page-side-element{
    margin-left:5px;
    margin-bottom:10px;
    font-size:13px;
}
.page-side-element-head{
    /*background-color: #ECECEC;*/
    /*color: #FFF;*/
    font-size: 12px;
    height:30px;
    line-height: 30px;
    text-align: left;
    padding-left:5px;
    font-weight: bold;
}
.page-side-element-head-border{
    border-top: 1px solid #eaeaea;
}
.page-side-sub-element-head{
    display: block;
    margin-left:6px;
    border-top:1px solid #eaeaea;
    height:24px;
    padding-top:4px;
    padding-bottom: 4px;
    line-height: 20px;
    font-weight: normal;
    color: #a6a6a6;
}
.page-side-sub-element{
    margin-left:6px;
    margin-right:5px;
}

/*
    Page
*/
.page{
    width:100%;
    height:100%;
    overflow: scroll;
    z-index:-1;
    padding-top:40px;
}
.page-side-margin{
    padding-top:10px;
    margin-left:55px;
    height:100%;
    overflow: scroll;
}
.page-right-margin{
    margin-right: 20px;
}

/*
    Navibar
*/
.page-navi-padding{
    padding-top:70px;
}
.page-navi{
    background-color: #fff;
    border-bottom: 1px solid #eee7e9;
    height:30px;
    width:100%;
    position: absolute;
    top:40px;
    left:0px;
}
.page-navi>UL{
    height:30px;
}
.page-navi>UL>LI{
    display: inline-block;
    font-size:12px;
    line-height:30px;
    color: #1b1b1b;
}
.page-navi>UL>LI>A{
    color: #1b1b1b;
}
.page-navi .page-navi-button{
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.page-navi .page-navi-button:HOVER{
    background-color: #7BCCD4;
    color:#fff;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.page-navi .filter{
    float:right;
    height:100%;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.page-navi .filter:HOVER{
    background-color: #7BCCD4;
    color:#fff;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}
.page-navi .filter:ACTIVE{
    background-color: #c0c0c0;
    color:#fff;
}
.page-navi .filter-apply{
    background-color: #7BCCD4;
    color:#fff;
}
.page-navi .page-navi-rabbit-selection{
    min-width: 140px;
}

/*
    Change rabbit modal
*/
#changeRabbitModal .rabbit-group{
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
}
#changeRabbitModal .rabbit-group-name{
    color: #9a9a9a;
    font-weight: bold;
    font-size:12px;
    margin-bottom: 4px;
    border-bottom: 1px solid #eaeaea;
}
#changeRabbitModal .rabbit-item{
    padding-top:3px;
    padding-bottom: 3px;
    border-radius: 4px;
    display: block;
}
#changeRabbitModal .rabbit-item:HOVER{
    background-color: #7BCCD4;
    color:#FFF;
}
#changeRabbitModal .rabbit-item:HOVER a{
    color:#FFF;
}
.page .alertbox .alert{
    display: inline-block;
}