/**
 * ErRabbit Web Console
 * soleaf, mintcode.org
 * https://github.com/soleaf/ErRabbit
 * report.css
 */
.report .page .time INPUT{
    width:50px;
}

.report .page .time .input-group-addon{
    width: auto;
}

.report .rabbit-selection .rabbit-item{
    padding-left:40px;
    border-top:1px solid #eaeaea;
}
.report .rabbit-selection .rabbit-item:HOVER{
    background-color: #7BCCD4;
    color:#FFF;
}

.report .rabbit-selection .rabbit-group{
    padding:10px;
    color: #2b2b2b;
    font-weight: bold;
    background-color: #fafafa;
}
.report .rabbit-selection .rabbit-group:HOVER{
    color: #2b2b2b;
    font-weight: bold;
    background-color: #fff;
}

.report .rabbit-selection .li .checkbox>INPUT{
    padding-left:10px;
}

.rabbit-group .table{
    max-width:500px;
}

.rabbit-group .alert{
    display: inline-block;
    margin-top:20px;
}

.report .report-list{
    margin-top:10px;
    max-width:500px;
}

.report .report-list .delete{
    float:right;
}
.report .report-list .detail{
    /*float:right;*/
}
.report .report-list .date,
.report .report-list .delete{
    color: #878787;
    font-size:12px;
}


.report .rank .level{
    padding-left:15px;
}
.report .rank .count{
    padding-right:15px;
}

.report .rank>tbody>tr>.level{
    font-weight: bold;
}
.report .rank .DEBUG{
    color: #868686;
}

.report .rank .WARN{
    color: #ffbf5e;
}

.report .rank .ERROR{
    color: #FF8166;
}

.report .rank .FATAL{
    color: #ff5572;
}

.report .page .chapter{
    max-width:800px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom:2px dotted #dadada;
}

.report .page .chapter h4 small A{
    color: #a3a3a3;
}

.report .page .chapter .table{
    margin-bottom:5px;
    border-bottom: 1px solid #d8d8d8;
}

.report .page h3{
    color:#7BCCD4;
}